*.a
*.b
*.o
*.exe
*.obj
*.dll
*.lib
*.out
*.suo
*~
*.swp
*.swo
*.bak
*.orig
*.pdb
*.idb
*.ilk
*.stackdump
*.manifest
.ccache
.demo
.svn
.DS_Store
.xmake
*.deb
*.zip
*.gch
*.gch.d
*.sys
cscope.*
gmon.out
tags
doc
install.log
build
